<div id="MainMenu">
    <div class="list-group panel"> 

    	<a href="#demo1" class="list-group-item list-group-item strong"
        style="background: #f7f7f7;" data-toggle="collapse" data-parent="#MainMenu">Crime Type</a>

    <div class="collapse list-group-submenu" id="demo1">
        <a class="list-group-item"><input  onchange="Assault(this)" type="checkbox">&nbsp; Arson</a>
        <a class="list-group-item"><input onchange="Burglary(this)" type="checkbox">&nbsp; Burglary</a>
        <a class="list-group-item"><input onchange="Criminal_Tresspass(this)"type="checkbox">&nbsp; Criminal Trespass</a>
        <a class="list-group-item"><input onchange="Indecent_Exposure(this)" type="checkbox">&nbsp; Indecent Exposure</a>
        <a class="list-group-item"><input onchange="Roberry(this)" type="checkbox">&nbsp; Roberry</a>
        <a class="list-group-item"><input onchange="Sexual_Assault(this)" type="checkbox">&nbsp; Sexual Assault</a>
        <a class="list-group-item"><input onchange="Theft(this)" type="checkbox">&nbsp; Theft</a>
        <a class="list-group-item"><input onchange="Other(this)" type="checkbox">&nbsp; Miscellaneous Crimes</a>
	</div> 

        <a href="#demo2" class="list-group-item list-group-item strong" style="background: #f7f7f7;" data-toggle="collapse"
        data-parent="#MainMenu"><i class="fa fa-book"></i> Time of Crime <i class="fa fa-caret-down"></i></a>

            <div class="collapse list-group-submenu" id="demo2"> 
                <a href="#" class="list-group-item"><input type="radio" name="timeradio">&nbsp; Past Week</a>
                <a href="#" class="list-group-item"><input type="radio" name="timeradio" checked>&nbsp; Past Month</a>
                <a href="#" class="list-group-item"><input type="radio" name="timeradio">&nbsp; Past Year</a>
                <a href="#" class="list-group-item"><input type="radio" name="timeradio">&nbsp; All Crimes</a>
            </div> 

        <a href="#demo5" class="list-group-item list-group-item strong"><input id='boundary' type="checkbox" onchange="boundary_on_click(Busroute,this)"> &nbsp; Show Campus Boundary</a> 

    </div>
</div>