<div id="MainMenu">
    <div class="list-group panel"> 

    	<a href="#demo1" class="list-group-item list-group-item strong"
        style="background: #f7f7f7;" data-toggle="collapse" data-parent="#MainMenu">Crime Type</a>

    <div class="collapse list-group-submenu" id="demo1">
        <a class="list-group-item"><input  onchange="Arson(this)" type="checkbox">&nbsp; Arson<img src="http://maps.google.com/mapfiles/marker.png" align="right"></a>
        <a class="list-group-item"><input onchange="Burglary(this)" type="checkbox">&nbsp; Burglary<img src="http://maps.google.com/mapfiles/marker_yellow.png" align="right"></a>
        <a class="list-group-item"><input onchange="Criminal_Tresspass(this)"type="checkbox">&nbsp; Criminal Trespass<img src="http://maps.google.com/mapfiles/marker_purple.png" align="right"></a>
        <a class="list-group-item"><input onchange="Indecent_Exposure(this)" type="checkbox">&nbsp; Indecent Exposure<img src="http://maps.google.com/mapfiles/marker_black.png" align="right"></a>
        <a class="list-group-item"><input onchange="Roberry(this)" type="checkbox">&nbsp; Robbery<img src="http://maps.google.com/mapfiles/marker_grey.png" align="right"></a>
        <a class="list-group-item"><input onchange="Sexual_Assault(this)" type="checkbox">&nbsp; Sexual Assault<img src="http://maps.google.com/mapfiles/marker_white.png" align="right"></a>
        <a class="list-group-item"><input onchange="Theft(this)" type="checkbox">&nbsp; Theft<img src="http://maps.google.com/mapfiles/marker_orange.png" align="right"></a>
        <a class="list-group-item"><input onchange="Other(this)" type="checkbox">&nbsp; Miscellaneous Crimes<img src="http://maps.google.com/mapfiles/marker_green.png" align="right"></a>
	</div> 

        <a href="#demo2" class="list-group-item list-group-item strong" style="background: #f7f7f7;" data-toggle="collapse"
        data-parent="#MainMenu">Time of Crime</a>

            <div class="collapse list-group-submenu" id="demo2"> 
                <a class="list-group-item"><input type="radio" name="timeradio">&nbsp; Past Week</a>
                <a class="list-group-item"><input type="radio" name="timeradio" checked>&nbsp; Past Month</a>
                <a class="list-group-item"><input type="radio" name="timeradio">&nbsp; Past Year</a>
                <a class="list-group-item"><input type="radio" name="timeradio">&nbsp; All Crimes</a>
            </div> 

        <a class="list-group-item list-group-item strong"><input id='boundary' type="checkbox" onchange="boundary_on_click(Busroute,this)"> &nbsp; Show Campus Boundary</a> 

    </div>
</div>