<div id="MainMenu">
    <div class="list-group panel"> 

    	<a href="#demo1" class="list-group-item list-group-item strong"
        style="background: #f7f7f7;" data-toggle="collapse" data-parent="#MainMenu">Crime Type</a>

            <div class="collapse list-group-submenu" id="demo1">
            	<a href="#" class="list-group-item"><input type="checkbox">&nbsp; Assault</a>
                <a href="#" class="list-group-item"><input type="checkbox">&nbsp; Arson</a>
                <a href="#" class="list-group-item"><input type="checkbox">&nbsp; Burglary</a>
                <a href="#" class="list-group-item"><input type="checkbox">&nbsp; Criminal Trespass</a>
                <a href="#" class="list-group-item"><input type="checkbox">&nbsp; Indecent Exposure</a>
                <a href="#" class="list-group-item"><input type="checkbox">&nbsp; Roberry</a>
                <a href="#" class="list-group-item"><input type="checkbox">&nbsp; Sexual Assault</a>
                <a href="#" class="list-group-item"><input type="checkbox">&nbsp; Theft</a>
                <a href="#" class="list-group-item"><input type="checkbox">&nbsp; Miscellaneous Crimes</a>
        	</div> 

        <a href="#demo2" class="list-group-item list-group-item strong" style="background: #f7f7f7;" data-toggle="collapse"
        data-parent="#MainMenu"><i class="fa fa-book"></i> Time of Crime <i class="fa fa-caret-down"></i></a>

            <div class="collapse list-group-submenu" id="demo2"> 
                <a href="#" class="list-group-item"><input type="radio" name="timeradio">&nbsp; Past Week</a>
                <a href="#" class="list-group-item"><input type="radio" name="timeradio">&nbsp; Past Month</a>
                <a href="#" class="list-group-item"><input type="radio" name="timeradio">&nbsp; Past Year</a>
                <a href="#" class="list-group-item"><input type="radio" name="timeradio">&nbsp; All Crimes</a>
            </div> 

        <a href="#demo5" class="list-group-item list-group-item strong"><input type="checkbox">&nbsp; Show Campus Boundary</a> 

    </div>
</div>